* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

body,
html {
	background: var(--secondary);
	height: 110vh;
}

:root {
	--primary: #cc2121;
	--secondary: #161616;

	--text-white: #ffffff;
	--text-light: #bfbfbf;
	--text-grey: #4a4a4a;
	--text-red: #cc2121;
	--text-dark: #161616;

	--white: #ffffff;
	--dark: #000000;
}

::-webkit-scrollbar {
	background: red;
	width: 5px;
}
::-webkit-scrollbar-track {
	background: var(--text-dark);
	width: 5px;
}
::-webkit-scrollbar-thumb {
	height: 20px;
	background: var(--text-grey);
}



.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft 0.9s forwards;
}

@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}