.homepage__container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
}

.homepage__infos {
	max-width: 950px;

	margin: 0 auto;
	flex-wrap: wrap;
	min-height: 250px;
	padding-top: 50px;
	padding-bottom: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
/* .ttt {
	animation: animated-text 1s steps(20) 2s 1 normal both,
		animated-cursor 200ms steps(20) infinite normal;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes animated-text {
	from {
		width: 0px;
	}
	to {
		width: 350px;
	}
}

@keyframes animated-cursor {
	from {
		border-right-color: white;
	}
	to {
		border-right-color: transparent;
	}
} */

.homepage__aboutme_left {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: start;
}

.text1 {
	font-size: 2.5rem;
	line-height: 1;
	color: var(--text-white);
}

.text2 {
	color: var(--text-red);
	font-size: 2.5rem;
}

.text3 {
	padding-bottom: 20px;
	padding-top: 5px;
	color: var(--text-grey);
	font-weight: 400;
}

.homepage__aboutme_left_buttons {
	display: flex;
	gap: 20px;
}

.homepage__aboutme_right {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.homepage__aboutme_right_text {
	line-height: 1.4;
}
.homepage__aboutme_right_text h3 {
	font-weight: 400;
	color: var(--text-white);
}
.homepage__aboutme_right_text span {
	color: var(--text-red);
}

.homepage__aboutme_right_social {
	gap: 10px;
	cursor: pointer;
	padding-top: 45px;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
	justify-content: start;
}

/* CARDS */
.homepage__cards {
	max-width: 950px;
	margin: 0 auto;
	height: 300px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
	z-index: 1000;
}

.homepage__more_projects {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: red;
	max-width: 950px;
	width: 950px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.homepage__footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	font-weight: 400;
	color: var(--text-grey);
	font-size: 0.85rem;
	letter-spacing: 1px;
	position: static;
	bottom: 0;
}

@media (max-width: 420px) {
	/* .homepage__container{
		width: 100vw;
	} */

	.homepage__infos {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.homepage__aboutme_left {
		align-items: center;
		justify-content: center;
	}

	.homepage__aboutme_left_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 380px;
		padding: 0px;
	}
	.text1 {
		font-size: 1.8rem;

		display: flex;
		width: 100%;
		align-items: center;
		justify-content: start;
	}

	.text2 {
		font-size: 1.9rem;
	}
	.text3 {
		display: flex;
		align-items: start;
		justify-content: start;
		width: 100%;
	}

	.homepage__aboutme_right {
		font-size: 0.9rem;
		text-align: start;
		max-width: 380px;
		align-items: center;
		justify-content: center;
	}

	.homepage__aboutme_right_social {
		padding-top: 10px;
		display: flex;
		align-items: center;
	}

	.homepage__more_projects {
		display: none;
	}

	.homepage__footer {
		max-width: 380px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
	}
}
