.homepage_container {
	height: calc(150vh - 5rem);
	display: grid;
	grid-template-rows: 600px 1fr ;
	width: 100%;
}
/* 
.homepage_about_me {
	background: blue;
}

.homepage_project_view {
	background: tomato;
} */
