.header__container {
	flex: 1;
	max-width: 850px;
	margin: 0 auto;
	height: 80px;
	color: var(--text-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header__logo span {
	color: var(--text-red);
}

.header__links {
	gap: 30px;
	display: flex;
}
.header__links a {
	font-weight: 400;
	font-size: 1rem;
	color: var(--text-white);
}
