.header__container {
	max-width: 950px;
	height: 80px;
	width: 930px;
	color: var(--text-white);

	align-items: center;
	display: grid;
	grid-template-columns: 0.5fr 3fr 0fr;
	flex-wrap: wrap;
}
.header__logo span {
	color: var(--text-red);
}

.header__links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.header__links a {
	display: flex;
	font-weight: 400;
	font-size: 1rem;
	color: var(--text-white);
}

@media (max-width: 600px) {
	.header__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 20px;
		max-width: 400px;
	}

	.header__links {
		display: flex;
		justify-content: space-around;
		gap: 42px;
		padding-top: 10px;
	}

	.header__links a {
		color: var(--text-light);
	}

	.header__button {
		order: -3;
		display: none;
	}

	.header__logo {

		display: flex;
		width: 75%;
		align-items: center;
		justify-content: center;
		font-size: 30px;
	}
}
